// COLORS
$primary-color: #3494E6;
$secondary-color:#EC6EAD;
$background: #1E1E28;

$tertiary1: #141414;
$tertiary2: #ffffff;

$text: #f0f0f0; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
